name: Deploy to EC2

on:
  push:
    branches:
      - main   # triggers when you push to main

jobs:
  deploy:
    name: SSH Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            echo "Connected to EC2"
            cd /home/ubuntu
            ls
            # Example commands:
            # git pull origin main
            # npm install
            # pm2 restart app
