name: Hello World

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Name'
        required: true
        default: 'Harshil'
      age:
        description: 'Age'
        required: true
        default: '20'
jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Hello World
        run: echo "Hello World"
  recap:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm i

      - name: Build
        run: npm run build
